@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  background-color: #ffffff;
  color: #1d3557;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 800;
}

.section-div {
  background-color: #e5e5e5;
  min-height: 15vh;
  @apply rounded-sm;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply text-center;
}

.divider {
  background-color: #e63946;
  background-position: center;
}

.profile-pic {
  background-image: url(./images/moi.jpeg);
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.github-link {
  background-image: url(./images/logo_github.png);
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  fill: white;
}

.progress {
  width: 100%;
  max-width: 260px;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
  background-size: 300% 100%;
  animation: progress-animation 10s linear infinite;
}

@keyframes progress-animation {
  0% {
    background-position: 100%
  }
  100% {
    background-position: 0
  }
}
